@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  /* background-image: url("https://i.pinimg.com/564x/8c/cf/2f/8ccf2f073f34558a091de30a64ef351a.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #f46804;
}

a {
  color: #f46804;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  object-fit: cover;
}
@media (max-width: 767px) {
  video {
    width: 100%;
    height: auto;
  }
}

#scroll::-webkit-scrollbar {
  width: 8px;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

#scroll:hover::-webkit-scrollbar-thumb {
  background-color: #f46804;
}
